<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <!-- css link -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />


    <!-- fontawesome icon link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- logo icon on title -->
    <link rel="icon" href="images/fav-icon.svg" type="image/svg" />
    <title>Ker Active</title>
  </head>

  <body class="">
    <header style="background:#AAA79E;" class="">
      <section class="">
      <nav class="section">
        <div class="d-flex align-items-center">
          <img
            onclick="location.href='/'"
            src="images/Brand-logo.svg"
            alt=""
            class="brand-logo"
          />
        </div>
  
        <div class="nav-links" id="nav-links">
          <ul class="navbar-links">
            <li onclick="location.href='/'" class="">HOME</li>
            <li onclick="location.href='/trainers'" class="">TRAINERS</li>
            <li onclick="location.href='/contact'" class="">CONTACT</li>
          </ul>
        </div>
      </nav>

      <div style="padding-top: 15rem;" class="sub2">
        <h1 class="all-trainers">ALL TRAINERS</h1>

        <div id="web" class="d-flex align-items-center justify-content-between">
          <div class="py-5 d-flex align-items-center gap-5">
            <button class="btn-custom active">
              Filter
            </button>
          <form action="/filter" method="get">
            <select class="dropdown">
              <option name="searchTerm" value="Services">Services</option>
              <option name="searchTerm" value="Nutritionist">Nutritionist</option>
              <option name="searchTerm" value="Tennis">Tennis</option>
              <option name="searchTerm" value="Dietician">Dietician</option>
              <option name="searchTerm" value="Squash">Squash</option>
              <option name="searchTerm" value="Table Tennis">Table Tennis</option>
              <option name="searchTerm" value="Yoga Instructor">Yoga Instructor</option>
              <option name="searchTerm" value="Karate Instructor">Karate Instructor</option>
              <option name="searchTerm" value="Volleyball">Volleyball</option>
            </select>
            <select class="dropdown acti">
              <option name="searchTerm" value="Location">Location</option>
              <option name="searchTerm" value="Lagos">Lagos</option>
              <option name="searchTerm" value="Ikeja">Ikeja</option>
              <option name="searchTerm" value="Surulere">Surulere</option>
              <option name="searchTerm" value="Lekki">Lekki</option>
              <option name="searchTerm" value="Ajah">Ajah</option>
              <option name="searchTerm" value="Magodo">Magodo</option>
              <option name="searchTerm" value="Victorial Island">Victorial Island</option>
              <option name="searchTerm" value="Ojodu">Ojodu</option>
            </select>
          </form>
          </div>

          <div class="btn-custom bg-body-secondary  border-0 mt-5">
            <input class="trainer-search bg-body-secondary " type="search" placeholder="Search"/>
              <i class="fa-solid fa-magnifying-glass ms-5 fa-"></i>
          </div>
        </div>

        <div class="mobile split-mobile">
          <button class="btn-custom active">
            All
          </button>
          <button class="btn-custom">
            Category
          </button>
          <button class="btn-custom">
            <span class="me-5">Search</span> <i class="fa-solid fa-magnifying-glass ms-1"></i>
          </button>
        </div>
      </div>
    </section>
    </header>

   <section style="background:#AAA79E;" class="sect">
      <div class="flex-wrap sub2">
        <div class="row align-items-center ">
          <% trainers.forEach(trainer => { %>

            <div class="col-md-4 pt-5  trainer_card">
              <% var trainerLink = '/coaches/' + trainer._id; %>
              <a href="<%= trainerLink %>" class="trainers_pictures">
                <img style="width: 360px; " src= "<%= trainer.image %>" alt="" class="trainers_pictures"> 
              </a>
              <!-- <img style="width: 360px;" src="images/female-dark-coach2.png" alt="" class=""> -->
             
             <div class="trainer_ca">

             <!-- </div> -->
              <div class="d-flex justify-content-between trainer_card2">
  
                <h1 class="trainers-name pt-5 pb-3">
              <%= trainer.fullname %>
                
                </h1>
                <div class="pt-5 pb-2"  style="cursor: pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" viewBox="0 0 49 36" fill="none" onclick="location.href='<%= trainerLink %>'" >
                    <g clip-path="url(#clip0_407_365)">
                      <path d="M24.625 35.0701C34.29 35.0701 42.125 27.2351 42.125 17.5701C42.125 7.90509 34.29 0.0700684 24.625 0.0700684C14.96 0.0700684 7.125 7.90509 7.125 17.5701C7.125 27.2351 14.96 35.0701 24.625 35.0701Z" fill="#2D2C2A"/>
                      <path d="M25.9861 20.3528L20.0538 14.4206L19.9122 14.2795L19.7161 14.0828L19.9122 13.8861L20.0538 13.745L20.8 12.9989L20.9411 12.8578L21.1377 12.6611L21.3344 12.8578L21.4755 12.9989L27.4077 18.9311V14.2672H29.4188V22.3645H21.3222V20.3534L25.9861 20.3528Z" fill="#EBE8E0" stroke="#EBE8E0" stroke-width="0.555556"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_407_365">
                        <rect width="48.75" height="35" fill="white" transform="translate(0.25 0.0700684)"/>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
  
              
              <div class="d-flex align-items-center gap-3 mt-4 mb-5 flex-wrap skills-div">
                <% let serviceArray = Object.values(trainer.services); %>
                <%  serviceArray.forEach(service => { %>
                <button class="trainer-skills">
                  <%= service %> 
                </button>
                <% }); %>
              </div>
            
                <p class="trainers-location pb-5">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                    <path d="M0 3.6961C0 2.78479 0.364697 1.91081 1.01386 1.26642C1.66303 0.622025 2.54348 0.26001 3.46154 0.26001H16.5385C17.4565 0.26001 18.337 0.622025 18.9861 1.26642C19.6353 1.91081 20 2.78479 20 3.6961V16.6769C20 17.5882 19.6353 18.4622 18.9861 19.1066C18.337 19.751 17.4565 20.113 16.5385 20.113H3.46154C2.54348 20.113 1.66303 19.751 1.01386 19.1066C0.364697 18.4622 0 17.5882 0 16.6769V3.6961ZM10 4.07789C9.79599 4.07789 9.60033 4.15834 9.45607 4.30153C9.31181 4.44473 9.23077 4.63895 9.23077 4.84146V5.66842C8.28584 5.8274 7.41413 6.27421 6.73644 6.94693C6.05875 7.61964 5.60863 8.48494 5.44846 9.42292H4.61538C4.41137 9.42292 4.21572 9.50336 4.07146 9.64656C3.9272 9.78976 3.84615 9.98398 3.84615 10.1865C3.84615 10.389 3.9272 10.5832 4.07146 10.7264C4.21572 10.8696 4.41137 10.9501 4.61538 10.9501H5.44846C5.60863 11.888 6.05875 12.7533 6.73644 13.4261C7.41413 14.0988 8.28584 14.5456 9.23077 14.7046V15.5315C9.23077 15.734 9.31181 15.9283 9.45607 16.0714C9.60033 16.2146 9.79599 16.2951 10 16.2951C10.204 16.2951 10.3997 16.2146 10.5439 16.0714C10.6882 15.9283 10.7692 15.734 10.7692 15.5315V14.7046C11.7142 14.5456 12.5859 14.0988 13.2636 13.4261C13.9413 12.7533 14.3914 11.888 14.5515 10.9501H15.3846C15.5886 10.9501 15.7843 10.8696 15.9285 10.7264C16.0728 10.5832 16.1538 10.389 16.1538 10.1865C16.1538 9.98398 16.0728 9.78976 15.9285 9.64656C15.7843 9.50336 15.5886 9.42292 15.3846 9.42292H14.5515C14.3914 8.48494 13.9413 7.61964 13.2636 6.94693C12.5859 6.27421 11.7142 5.8274 10.7692 5.66842V4.84146C10.7692 4.63895 10.6882 4.44473 10.5439 4.30153C10.3997 4.15834 10.204 4.07789 10 4.07789ZM10 7.13219C9.18395 7.13219 8.40132 7.45398 7.82429 8.02677C7.24725 8.59957 6.92308 9.37644 6.92308 10.1865C6.92308 10.9965 7.24725 11.7734 7.82429 12.3462C8.40132 12.919 9.18395 13.2408 10 13.2408C10.8161 13.2408 11.5987 12.919 12.1757 12.3462C12.7527 11.7734 13.0769 10.9965 13.0769 10.1865C13.0769 9.37644 12.7527 8.59957 12.1757 8.02677C11.5987 7.45398 10.8161 7.13219 10 7.13219ZM10 11.7136C9.59198 11.7136 9.20066 11.5527 8.91214 11.2663C8.62363 10.98 8.46154 10.5915 8.46154 10.1865C8.46154 9.78147 8.62363 9.39303 8.91214 9.10663C9.20066 8.82024 9.59198 8.65934 10 8.65934C10.408 8.65934 10.7993 8.82024 11.0879 9.10663C11.3764 9.39303 11.5385 9.78147 11.5385 10.1865C11.5385 10.5915 11.3764 10.98 11.0879 11.2663C10.7993 11.5527 10.408 11.7136 10 11.7136Z" fill="#2D2C2A"/>
                  </svg>
              <%= trainer.location %>
                  
                </p>
                </div>
            </div>
            <% }); %>


        </div>          
      </div>


  <div class="Carousel-Indicators"> 
      <button  href="" class="indicator-btn" data-bs-target="#web" data-bs-slide="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="16" viewBox="0 0 35 16" fill="none">
          <g clip-path="url(#clip0_44_1252)">
            <path d="M5.54271 6.78403H34.3147L34.314 7.12012V9.21797H5.54271L9.12609 12.7986L9.29692 12.97L9.53501 13.2073L9.29692 13.4453L9.12609 13.616L8.22218 14.5194L8.05135 14.6908L7.81326 14.9281L7.57585 14.6901L7.40435 14.5194L1.29081 8.40935L1.11998 8.23861L0.882568 8.00134L1.11998 7.76339L1.29148 7.59266L7.40502 1.48259L7.57585 1.31186L7.81326 1.07458L8.05135 1.31186L8.22218 1.48327L9.12609 2.386L9.29692 2.5574L9.53501 2.79468L9.29692 3.03263L9.12609 3.20336L5.54271 6.7847V6.78403Z" fill="#2D2C2A" stroke="#2D2C2A" stroke-width="0.672557"/>
          </g>
          <defs>
            <clipPath id="clip0_44_1252">
              <rect width="35" height="15.46" fill="white" transform="translate(0 0.27002)"/>
            </clipPath>
          </defs>
        </svg>
      </button>
      <div class="d-flex px-2 indicators-dots">
        <span class="indicators active-indicator"></span>
        <span class="indicators"></span>
        <span class="indicators"></span>
        <span class="indicators"></span>

        </div>

      <button class="indicator-btn" data-bs-target="#web" data-bs-slide="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="16" viewBox="0 0 35 16" fill="none">
          <g clip-path="url(#clip0_44_1255)">
            <path d="M0.936515 9.23097H0.346436V6.75117H29.3495L25.6938 3.09965L25.5188 2.9256L25.2766 2.68304L25.5188 2.44115L25.6938 2.26642L26.6153 1.34549L26.7902 1.17145L27.0331 0.929565L27.2753 1.17145L27.4496 1.34549L33.6866 7.57412L33.8609 7.74816L34.1038 7.99073L33.8609 8.23261L33.6866 8.40734L27.4489 14.6353L27.2747 14.8093L27.0324 15.0519L26.7896 14.8093L26.6153 14.6353L25.6931 13.7144L25.5181 13.5403L25.2759 13.2977L25.5181 13.0552L25.6931 12.8811L29.3489 9.23029L0.935829 9.23097H0.936515Z" fill="#2D2C2A"/>
            <path d="M0.936515 9.23097H0.346436V6.75117H29.3495L25.6938 3.09965L25.5188 2.9256L25.2766 2.68304L25.5188 2.44115L25.6938 2.26642L26.6153 1.34549L26.7902 1.17145L27.0331 0.929565L27.2753 1.17145L27.4496 1.34549L33.6866 7.57412L33.8609 7.74816L34.1038 7.99073L33.8609 8.23261L33.6866 8.40734L27.4489 14.6353L27.2746 14.8093L27.0324 15.0519L26.7896 14.8093L26.6153 14.6353L25.6931 13.7144L25.5181 13.5403L25.2759 13.2977L25.5181 13.0552L25.6931 12.8811L29.3489 9.23029L0.935829 9.23097H0.936515ZM0.936515 9.23097V8.88837" stroke="#2D2C2A" stroke-width="0.686139"/>
          </g>
          <defs>
            <clipPath id="clip0_44_1255">
              <rect width="35" height="15.76" fill="white" transform="translate(0 0.109985)"/>
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
  </section>

    <footer style="background:#161717;"> 
      <section style="padding-top: 10rem;" class="sub2">
        <div class="text-center">
          <p class="lets-talk pb-5">
            lets talk
          </p>

          <img src="images/ker-active-footer-logo.svg" alt="" class="py-5 ker-active-logo">

          <div class="h">
            <button onclick="location.href='/contact'" class="btn-custom-1 my-5 mx-auto">
              GET IN TOUCH <i class="fa-solid fa-arrow-right ms-3"></i>
            </button>
          </div>
        </div>
    

        <div class="flex-wrap py-5">
          <div class="row align-items-start gap-5">
            <div class="col-md text-start">
              <img src="images/ker-active-mini.svg" alt="" class="pb-3">

              <div class="d-flex align-items-center gap-5 socials pt-4">
                <span>
                  <a href="www.instagram.com/keractive_?igsh=NDFzd3BuYnBpc2w5">
                  <i class="fa-brands fa-instagram"></i>
                  </a>
                  
                </span>
                INSTAGRAM 
              </div>
              <div class="d-flex align-items-center gap-5 socials py-4">
                <span>
                  
                  <a href="https://www.facebook.com/profile.php?id=61555546987167&mibextid=PtKPJ9">
                  <i class="fa-brands fa-facebook"></i>
                </a>
                </span>
                Facebook
              </div>
            </div>
            <div class="col-md text-start pages">
              <h2 class="text-light pb-5">PAGES</h2>
              <h4 class="pb-3"><a style="color: rgba(255, 255, 255, 0.60)" href="/" class="text-decoration-none">HOME</a></h4>
              <h4 class="pb-3"><a style="color: rgba(255, 255, 255, 0.60)" href="/trainers" class="text-decoration-none">TRAINERS</a></h4>
              <h4 class="pb-3"><a style="color: rgba(255, 255, 255, 0.60)" href="/contact" class="text-decoration-none">CONTACT</a></h4>
              
            </div>

            <div class="subscribe col-md-4 text-start">
              <h1 style="font-family: Anton;" class="text-light">SUBSCRIBE TO OUR NEWS LETTER</h1>
              <div class="rounded-pill email" style="background: #008080">
                <input
                  style="background: #008080"
                  type="text"
                  class="w-75 p-3 px-4 rounded-pill text-light"
                  placeholder="EMAIL"
                />
                <button
                  type="button"
                  style="background: #161717; color: white"
                  class="rounded-pill submitBtn"
                >
                  SUBMIT
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="21"
                    height="21"
                    viewBox="0 0 25 25"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_405_89)">
                      <path
                        d="M12.5 24.22C19.1274 24.22 24.5 18.8474 24.5 12.22C24.5 5.59255 19.1274 0.219971 12.5 0.219971C5.87258 0.219971 0.5 5.59255 0.5 12.22C0.5 18.8474 5.87258 24.22 12.5 24.22Z"
                        fill="#EBE8E0"
                      />
                      <path
                        d="M13.4332 14.128L9.36541 10.0602L9.26827 9.96347L9.13379 9.82862L9.26827 9.69376L9.36541 9.597L9.87703 9.08538L9.97379 8.98862L10.1086 8.85376L10.2435 8.98862L10.3403 9.08538L14.4081 13.1532V9.95509H15.7871V15.5075H10.2351V14.1284L13.4332 14.128Z"
                        fill="#2D2C2A"
                        stroke="#2D2C2A"
                        stroke-width="0.569444"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_405_89">
                        <rect
                          width="24"
                          height="24"
                          fill="white"
                          transform="translate(0.5 0.219971)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </button>
              </div>
            </div>
            <div class=" col-md">
              
                <div style="margin-top: 12rem;" class="socials d-flex align-items-center">
                  <h5 class="ms-auto mb-0"><a href="#" class="text-decoration-none text-light">TO Top</a></h5>
                <span class="ms-4 ">
                  <a style="color: rgba(255, 255, 255, 0.60)" href="#" class="text-decoration-none"><i class="fa-solid fa-arrow-up"></i></a>
                </span>
                </div>
              
            </div>
          </div>
        </div>
      </section>
    </footer>
    




    <!-- js link file -->
    <script src="/js/script.js"></script>

    <!-- bootstrap js cdn link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
       
        if (window.location.href.includes("trainers")) {
          getNumberOfNestedButtons();
      // console.log("working")
        // Call the function to get the number of nested buttons
    }
});
    </script>
  </body>
</html>
